/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  

  :root {
      --primary: #333;
      --grey: #707070;
      --orange: #F16822;
      --posts-section: #F9F9F9;
  }

  body {
      color: var(--primary);
      background-color: #F9F9F9;
  }

  a {
      text-decoration: none;
  }

  .container {
      padding-top: 17rem;
      display: flex;
      max-width: 128rem;
      margin-left: auto;
      margin-right: auto;
      outline: 1px solid red;
  }

  ul.progress-bar {
    display: flex;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
}

ul.progress-bar li {
  background-color: red;
  background-size: 1rem 1rem;
  margin-right: 1rem;
  width: 1rem;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
}

  /*****  header  *****/
  .main-header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
  }

  .logo-title {
      display: flex;
      color: var(--grey);
  }

  .logo {
      width: 7rem;
      height: 4.9rem;
      background-image: url(../img/LOGO.svg);
      background-position: center;
      background-size: contain;
  }

  .main-header h2 {
    margin-left: 1.8rem;
    font-family: raleway, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

  .main-header ul {
    display: flex;
    font-size: 1.4rem;
    font-family: montserra, sans-serif;
  }

  .main-menu_item:not(:first-of-type) {
    margin-left: 4.1rem;
  }

  .main-header h2 span {
    font-family: montserra, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .main-menu_link {
    display: block;
    padding: 1em;
    text-transform:uppercase;
    color: var(--primary);
  }

  .main-menu_link:hover {
    color: #FFF;
    background-color: var(--orange);
  }


  /****** hero ******/

  .hero {
    background-image: url(../img/writing.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 8rem;
  }
  
  .hero .container {
      justify-content: space-around;
      align-items: center;
      height: 96rem;
  }  
  
  .arrow-circle {
      display: block;
      max-width: 100%;
      width: 5rem;
  }

  .hero_textContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 6.6rem;
      margin-right: 6.6rem;
      text-align: center;
  }

  .hero-paragraphe {
      width: 105rem;
      font-family: montserra, sans-serif;
      font-size: 3.2rem;
      font-weight: 400;
      color: var(--primary);
  }

  .hero-title {
      margin-bottom: 5rem;
      font-family: raleway, sans-serif;
      font-size: 6.4rem;
      font-weight: 700;
      color: var(--orange);
  }

  .hero ul.progress-bar {
    width: 15rem;
  }

/******* services *******/

.services .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 17rem;
}

.articles-container {
    display: flex;
}

.services-title {
    margin-bottom: 1.2rem;
    font-family: raleway, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
}

.services-text {
    width: 104.8rem;
    margin-bottom: 4.9rem;
}

.services-img {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #EEE;
    margin-bottom: 2.4rem;
}

.services-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31.7rem;
}

ul.progress-bar {
  width: 2.5rem;
}

/******* whatis *********/

.whatis {
  background-image: url(../img/bokehback.jpg);
  background-position: center;
  background-size: contain;
}

.whatis .container {
  min-height: 91.3rem;
  flex-direction: column;
  justify-content: space-between;
}

.whatis img {
  justify-self: flex-end;
  align-self: center;
  max-width: 104.7rem;
}

.whatis-textContent h2{
  font-family: raleway, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 1.2rem;
}

.whatis ul {
  margin-bottom: 3.2rem;
}

.whatis-textContent p {
  max-width: 104.7rem;
  padding-left: 1em;
  padding-right: 1em;
  font-family: montserra, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #FFF;
}

/****** posts ********/

.posts .container {
  flex-direction: column;

}

.posts h2 {
  font-family: raleway, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.menu-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.post-link {
  display: block;
  background-color: #FFF;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  width: 30rem;
  box-shadow: 0px 3px 6px #00000029;
}

.post-link p {
  margin-bottom: 4rem;
}

.post-link:visited {
  color: inherit
}

.post-link:hover,
.post-link:focus {
  background-color: #FFE8E87D;
}

.post-link img {
  margin-bottom: 7.4rem;
  width: 35rem;
  border: 1px solid var(--grey);
}

.post-link h3 {
  color: var(--orange);
  margin-bottom: 2.7rem;
}

.posts .progress-bar {
  margin-bottom: 3.2rem;
}

.text-intro {
  margin-bottom: 11.5rem;
  font-family: montserra, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  max-width: 104.8rem;
}

/*********** fun facts *************/

.funFacts .container {
  flex-direction: column;
  color: var(--primary)
}

.funFacts h2 {
  font-family: raleway, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.funFacts .progress-bar {
  margin-bottom: 5rem;
}

ul.menu-numeral {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20.3rem;
}

.numeral-item {
  font-family: monserra, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.numeral-item span {
  font-size: 6.4rem;
  color: var(--orange);
}
