/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserra/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserra/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
        url('../fonts/raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
        url('../fonts/raleway/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



:root {
    --primary: #333;
    --grey: #707070;
    --orange: #F16822;
    --posts-section: #F9F9F9;
}

body {
    color: var(--primary);
    background-color: #F9F9F9;
}

:focus {
  outline: 2px solid red;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    padding-top: 17rem;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 128rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 36em) {
  .container {
    max-width: 57.6rem;
  }
}

@media screen and (min-width: 48em) {
  .container {
    max-width: 76.8rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    max-width: 99.2rem;
  }
}

@media screen and (min-width: 75em) {
  .container {
    max-width: 128rem;
  }
}

.square {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.square button {
  margin: 0 0.5rem 0 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--orange);
  border: 0;

}

ul.square-list {
  width: 100;
  max-width: 20rem;
}

.double {
  max-width: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 3.2rem;
  display: flex;
}

.sq {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: #000;
}

.square ul li {
  display: inline-block;
  list-style-type: none;
}

.double .sq:first-of-type {
  background-color: var(--orange);
}

h1,
h2,
h3,
p {
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
}

  /*****  header  *****/

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--posts-section);
  z-index: 25;
}


.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-top: 0;
}

.logo-title {
    display: flex;
    color: var(--grey);
}

.logo {
    width: 7rem;
    height: 4.9rem;
    background-image: url(../img/LOGO.svg);
    background-position: center;
    background-size: contain;
}

.main-header h2 {
  text-align: left;
  margin-left: 1.8rem;
  font-family: raleway, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.main-menu {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 1.4rem;
  font-family: Montserrat, sans-serif;
}

.main-header h2 span {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.main-menu_link {
  background-color: #F9F9F9;
  display: block;
  padding: 1em;
  text-transform:uppercase;
  color: var(--primary);
}

.main-menu_link:hover,
.main-menu_link:focus {
  color: #FFF;
  background-color: var(--orange);
}

[hidden] {
  display: none;
}

.toogle-menu {
  height: 5rem;
  width: 6rem;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--grey);
}

.burger {
  display: block;
  position: relative;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.burger::before { top: 1.2rem;}
.burger::after { bottom: 1.2rem;}

.burger,
.burger::before,
.burger::after {
  width: 4.5rem;
  height: 0.3rem;
  background-color: var(--grey);
  border-radius: 0.3rem;
  transition: transform 0.5s ease-in-out;
}

.cross .burger {
  transform: rotate(45deg);
}

.cross .burger::before {
  transform: translateY(-1.2rem) rotate(90deg);
}

.cross .burger::after {
  transform: translateY(1.2rem) rotate(-90deg);
}


  @media screen and (min-width: 62em) {
    .toogle-menu {
      display: none;
    }

    .main-menu {
      display: flex;
      position: static;
      background-color: #F9F9F9;
    }

    .main-menu_item:not(:first-of-type) {
      margin-left: 4.1rem;
    }
  }


  /****** hero ******/

  .hero {
    background-image: url(../img/writing.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 8rem;
  }

  @media (min-resolution: 144dpi) {
    .hero {
      background-image: url(../img/writing@2x.jpg);
    }
  }
  
  .hero .container {
      justify-content: space-around;
      align-items: center;
      margin-bottom: 23rem;
  }  
  
  .arrow-circle {
      display: block;
      max-width: 100%;
      width: 5rem;
  }

  .hero_textContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 6.6rem;
      margin-right: 6.6rem;
      text-align: center;
  }

  .hero-paragraphe {
      width: 100%;
      max-width: 105rem;
      font-family: Montserrat, sans-serif;
      font-size: 3.2rem;
      font-weight: 400;
      color: var(--primary);
  }

  .hero-title {
      margin-bottom: 5rem;
      font-family: raleway, sans-serif;
      font-size: 6.4rem;
      font-weight: 700;
      color: var(--orange);
  }

  .hero .square {
    max-width: 15rem;
  }

  .hero .square button {
    background-color: var(--primary);
  }
  
  .hero .square li:nth-child(2) button {
    background-color: var(--orange);
  }

/******* services *******/

.services .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 17rem;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
}

@media screen and (min-width: 62em) {
  .articles-container {
    grid-template-columns: repeat(4, 1fr);
}
}

.services-title {
    margin-bottom: 1.2rem;
    font-family: raleway, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
}

.services-text {
    max-width: 104.8rem;
    width: 100%;
    margin-bottom: 4.9rem;
}

.services-img {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #EEE;
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31.7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.services-card p {
  font-family: Montserrat, sans-serif;
}


/******* whatis *********/

.whatis {
  background-image: url(../img/browser-mockup.jpg), url(../img/bokehback.jpg);
  background-position: bottom, center;
  background-size: 70%, cover;
  background-repeat: no-repeat, repeat;
}

@media (min-resolution: 144dpi) {
	.whatis {
		background-image: url(../img/browser-mockup@2x.jpg), url(../img/bokehback@2x.jpg);
	}
}

.whatis .container {
  min-height: 91.3rem;
  flex-direction: column;
  justify-content: space-between;
}

.whatis img {
  justify-self: flex-end;
  align-self: center;
  max-width: 104.7rem;
}

.whatis-textContent h2{
  font-family: raleway, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 1.2rem;
}

.whatis ul {
  margin-bottom: 3.2rem;
}

.whatis-textContent p {
  width: 100%;
  max-width: 104.7rem;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #FFF;
}

.whatis .sq:last-of-type {
  background-color: #fff;
}

/****** posts ********/

.posts .container {
  flex-direction: column;
  align-items: center;

}

.posts h2 {
  font-family: raleway, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.menu-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 48em) {
  .menu-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 75em) {
  .menu-posts {
    row-gap: 10rem;
    column-gap: 4rem;
  }
}

.blog {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.post-link {
  display: block;
  color: var(--primary);
  background-color: #FFF;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0px 3px 6px #00000029;
}

.post-link p {
  margin-bottom: 4rem;
}

.post-link:visited {
  color: inherit
}

.post-link:hover,
.post-link:focus {
  background-color: #FFE8E87D;
}

.post-link img {
  margin-bottom: 7.4rem;
  border: 1px solid var(--grey);
}

.post-link h3 {
  color: var(--orange);
  margin-bottom: 2.7rem;
}

.posts .square {
  max-width: 3rem;
  margin-bottom: 3.2rem;
}

.text-intro {
  margin-bottom: 11.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  max-width: 104.8rem;
}
/*********** fun facts *************/

.funFacts {
  position: relative;
}

.funFacts .container {
  flex-direction: column;
  color: var(--primary);
}

.funFacts img {
  position: absolute;
  bottom: 0;
  top: 0;
  max-width: 100%;
  opacity: 0.1;
}

.funFacts h2 {
  font-family: raleway, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

ul.menu-numeral {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 20.3rem;
}

@media screen and (min-width: 48em) {
  ul.menu-numeral {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 75em) {
    ul.menu-numeral {
      grid-template-columns: repeat(6, 1fr);
  }
}

.numeral-item {
  font-family: monserra, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.numeral-item span {
  font-size: 6.4rem;
  color: var(--orange);
}
/******** portrait ********/

.portrait {
  background-image: url(../img/rect.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi) {
	.portrait {
		background-image: url(../img/rect@2x.jpg);
	}
}

.portrait .container {
  flex-direction: column;
  align-items: center;
  color: #FFF;
  margin-bottom: 14.1rem;
}

@media  screen and (min-width: 36em) and (min-width: 62em) {
  .portrait .container {
     flex-direction: initial;
  }

  .text-presentation p {
    text-align: left;
  }

  .text-presentation {
    padding-left: 5rem;
  }
}

.portrait img {
  border-radius: 50%;
}

.portrait .square {
  padding-bottom: 8rem;
  max-width: 15rem;
}

.portrait .square button {
  background-color: var(--primary);
}

.portrait .square li:nth-child(2) button {
  background-color: #EEE;
}

.text-presentation h1 {
  font-family: raleway, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
}

.text-presentation p {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  max-width: 101rem;
  text-align: justify;
}

/******** footer ********/

footer {
  color: #CCC;
  background-color: var(--primary);
}

footer .container {
  flex-direction: column;
}

footer h3 {
  font-family: Raleway, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
  text-align: left;
}

ul.menu-footer {
  margin-left: auto;
  margin-right: auto;
}

.menu-footer-item {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

@media  screen and (min-width:48em) {
  .menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62em) {
  .menu-footer {
    grid-template-columns: repeat(4, 1fr);

  }
}

.footer-menu-posts li::before,
.footer-menu-comments li::before {
  content: '';
  display: block;
  width: 1rem;
  height: 0.8rem;
  background-image: url(../img/angle-double-right.svg);
  display: inline-block;
  margin-right: 1rem;
}

.menu-footer-item a {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

footer a:visited,
footer a:link {
  color: currentColor;
}

.footer-menu-tags {
  display: flex;
  max-width: 24rem;
  flex-wrap: wrap;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #CCC;
}

ul.footer-menu-tags a {
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  background-color: #444;
  font-size: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1.7rem;
}

.footer-menu-tags a:hover,
.footer-menu-tags a:focus {
  background-color: #CCC;
  color: #444;
}

.footer-address-link {
  display: flex;
  margin-bottom: 4.2rem;
}

.footer-address-link address,
.footer-address-link p {
  width: 27.2rem;
  max-width: 100%;
  font-size: 2rem;
  text-align: justify
}

.footer-address-link img {
  display: block;
  width: 3rem;
  margin-right: 1.5rem;
}

.footer-menu-posts a:hover,
.footer-menu-posts a:focus,
.footer-menu-comments a:hover,
.footer-menu-comments a:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--orange);
}



/******** footer-end *********/

.footer-end {
  display: flex;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #777;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

.footer-end p {
  margin-right: 0;
  margin-left: 0;
  color: #777;
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}

.socialNetworks {
  width: 100%;
  max-width: 13rem;
  display: flex;
  justify-content: space-between;
}

.networks-link path:hover,
.networks-link path:focus {
  fill: var(--posts-section);
}